
/*---------- Configuration générale ----------*/
@import url('https://fonts.googleapis.com/css?family=Thasadith');

html, body
{
	font-family: 'Thasadith', sans-serif;
	background-color : #f4f4f4;
	box-sizing: border-box;
	word-break: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

a, a:hover
{
	text-decoration: none;
}

hr 
{
	background-color : #80292A;
	border-color : #80292A;
	color : #80292A;
}

/*------------- Corps -------------*/
h1, section, footer
{
	width: 60%;
	padding: 20px;
	margin: 0px auto;

	background-color : white;
	font-weight: bold;
	font-size: 1.5rem;
	color: #222;
}

header
{
	padding: 0px;
	margin-top: 20px;
}

h1
{
	font-size: 25px;
	text-align: center;
}

footer
{
	margin-bottom: 20px;
}

/* ----------------- Media Queries ----------------- */
@media(max-width: 900px){
	h1, section, footer{
		width: 80%;
	}
}

@media(max-width: 550px){

	h1, section, footer{
		width: 100%;
	}
}